/*----------------------------------------main page styles start--------------------------------------*/

.video-block {
    display: inline-block;
    width: 100%;
}
.main-cfd-block{
    background-image: url(../images/cfd-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.main-cfd-block .traders-income-form{
    margin-bottom: 60px;
}

.main-cfd-block .cfd-title{
    font-weight: 600;
    font-size: 63.7px;
    line-height: 2.16em;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 45px;

}
.cfd-title-text span{
    background: #ff0000;
    padding: 0 15px;
    font-size: 45px;
    color: #ffffff;
    line-height: 1.45px;
    text-transform: uppercase;
    font-weight: 600;
}

.cfd-title-text p{
    max-width: 540px;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.1em;
    margin-top: 30px;


}

.main-title h1 {
    color: #d9e7ef;
    font-size: 24px;
    line-height: 1.2;
    margin: 100px 0 0 0;
    text-align: center;
    padding: 0 15px;
    position: relative;
    z-index: 5;
}
.main-title h1.h1-cfd{
    text-align: left;
    padding: 0;
}
.advantages__item{
    max-width: 280px;
    margin: 0 auto;
}
.advantages{
    padding: 60px 0;
}


.video-block .carousel {
    margin: -130px 0 -110px 0;
}

.video-block .carousel .item {
    background-size: cover !important;
    padding: 130px 0 110px 0;
    height: 660px;
}

.video-block .carousel .item .container {
    padding: 0 120px;
}

.video-block .carousel-caption {
    position: static;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    height: 420px;
    text-shadow: none;
}

.video-block .carousel-caption > div {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.video-block .title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
    text-transform: uppercase;
}

.video-block .title span {
    background: #ff0000;
    padding: 0 15px;
}

.video-block .title strong {
    font-size: 28px;
    display: block;
}

.video-block .carousel-caption p {
    margin: 40px 0 0 0;
    font-size: 18px;
    line-height: 1.1;
    display: inline-block;
    max-width: 550px;
}

.video-block .btn {
    padding: 7px 15px 6px 15px;
    line-height: 36px;
}

.video-block .carousel-control {
    top: 50%;
    bottom: auto;
    left: 200px;
    width: 42px;
    height: 42px;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0,0,0,0.5);
    text-shadow: none;
    background: #fff;
    opacity: 1;
    padding: 0 4px 0 0;
    text-align: center;
    border-radius: 50%;
    margin: -21px 0 0 0;
    transition: 0.3s;
}

.video-block .carousel-control.right {
    left: auto;
    right: 200px;
    padding: 0 0 0 4px;
}

.video-block .carousel-control:hover {
    background: #ff0000;
    color: #fff;
    box-shadow: 0 0 0 10px rgba(255,0,0,0.3);
}

.video-block .btn-bitcoin i {
    width: 32px;
    display: inline-block;
    margin: 0 10px 0 0;
}

.video-block .btn-bitcoin i img {
    margin-top: -5px;
}

.ar-lang .video-block .btn-bitcoin i {
    margin: 0 0 0 10px;
}

.video-block .btn-bitcoin i img {
    max-width: 100%;
}

.btn-app {
    background: rgba(93, 93, 93, 0.45) 0 0 no-repeat;
    border-radius: 10px;
    display: inline-block;
    width: 190px;
    height: 60px;
    margin: 0 10px;
}

.btn-app:hover {
    background: rgba(93, 93, 93, 0.65) 0 0 no-repeat;
}

.main-icon {
    display: inline-block;
    width: 100%;
    padding: 0;
    list-style-type: none;
    vertical-align: bottom;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    margin: 0;
}

.main-icon li {
    float: left;
    width: 20%;
    height: 110px;
    position: relative;
    transition: 0.3s;
    padding: 20px;
    cursor: default;
}

.main-icon li:hover{
    background: #f1f3f6;
}

.main-icon li p {
    display: table-cell;
    height: 70px;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 70px;
    margin: 0;
    color: rgba(255,255,255,0.8);
    transition: 0.3s;
}

.main-icon li:hover p {
    color: rgba(0,0,0,0.8);
}

.ar-lang .main-icon li p{
    padding: 0 70px 0 0;
}

.main-icon li div {
    position: absolute;
    left: 20px;
    top: 25px;
    width: 60px;
    height: 60px;
}

.main-icon li div img {
    transition: 0.3s;
    position: absolute;
    left: 0;
    width:100%;
}

.main-icon li div img + img, .main-icon li:hover div img {
    opacity: 0;
}

.main-icon li:hover div img + img {
    opacity: 1;
}

.ar-lang .main-icon li div{
    left: auto;
    right: 20px;
}

.main-icon a{
    color: #fff;
    text-decoration: none;
}

.marketing{
    padding-top: 40px;
    padding-bottom: 40px;
}

.mac-iframe {
    display: inline-block;
    width: 360px;
    background: transparent url(/templates/Default/images/mac-iframe.png) no-repeat center;
    background-size: contain;
    height: 302px;
    padding: 14px 14px 102px 14px;
}

.mac-iframe iframe {
    width: 100%;
    height: 100%;
}

.how-toget {
    font-size: 16px;
    padding: 12px 0 12px 40px;
    position: relative;
    color: #6a6c6f;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    line-height: 18px;
}

.ar-lang .how-toget {
    padding: 12px 40px 12px 0;
}

.how-toget:last-of-type{
    border: none !important;
}

.how-toget i {
    position: absolute;
    left: 14px;
    font-size: 14px;
    color: #00CC00;
    top: 15px;
}

.ar-lang .how-toget i {
    left: auto;
    right: 14px;
}

.traders-income-form {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.05);
    display: inline-block;
    width: 100%;
    padding: 0 15px 15px 15px;
}

.traders-income-form .title-new-h3 {
    margin: 15px -15px 0 -15px;
    padding: 0 0 12px 45px;
    border-bottom: 1px solid rgba(0,0,0,0.07);
}

.ar-lang .traders-income-form .title-new-h3 {
    padding: 0 45px 12px 0;
}

.traders-income-form .title-new-h3 i {
    margin: -18px 0 0 15px;
}

.ar-lang .traders-income-form .title-new-h3 i {
    margin: -18px 15px 0 0;
}

.traders-income-form .radio-block {
    padding: 12px 0 2px 0;
}

.traders-income-form .half{
    float: left;
    width: 50%;
    margin: 0 0 10px 0;
}

.traders-income-form .checkbox-label {
    border-top: 1px solid rgba(0,0,0,0.07);
    padding: 10px 15px 0 45px;
    margin: 0 -15px;
    box-sizing: content-box;
    display: block;
}

.ar-lang .traders-income-form .checkbox-label {
    padding: 10px 45px 0 15px;
}

.traders-income-form .checkbox-label span{
    top: 10px;
    left: 15px;
}

.ar-lang .traders-income-form .checkbox-label span{
    left: auto;
    right: 15px;
}

.actives-box {
    background: #ffffff;
    padding: 0 15px 15px 15px;
    border-radius: 4px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.05);
    display: inline-block;
    width:100%;
}
.actives-box.actives-box-cfd{
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.actives-box img{
    width: 100%;
}

.actives-box h3{
    text-align: left;
    margin-bottom: 5px;
}
.actives-box.actives-box-cfd h3{
    font-size: 27px;
    padding-left: 50px;
}
.actives-box.actives-box-cfd .title-new-h3 i{
    height: 40px;
    width: 40px;
    top: 0;
}

.ar-lang .actives-box h3, .ar-lang .actives-box p {
    text-align: right;
}

.actives-box p{
    margin: 0 0 20px 0;
    text-align: left;
}

.traders-gain-main{
    background: #fff;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.05);
    display: inline-block;
    width:100%;
    border-radius: 4px;
}

.traders-gain-main .text-center {
    border-top: 1px solid #e9eaec;
}

.traders-gain-main .btn {
    margin: 18px 0;
}

.traders-gain-main .td-flag img{
    width: 30px;
    margin: -3px 0;
}

.traders-gain-main td.price {
    color: #2fbb14;
}

.traders-gain-main .title-new-h3 {
    margin-left: 20px;
}

.ar-lang .traders-gain-main .title-new-h3 {
    margin-left: 0;
    margin-right: 20px;
}

.traders-gain-main td, .traders-gain-main th {
    padding-top: 11px;
    padding-bottom: 11px;
}

.steps-block .steps-fa {
    position: absolute;
    right: 15px;
    top: 53px;
    font-size: 60px;
    color: #d3d4d7;
}

.steps-block p{
    margin: 15px 0 25px 0;
    max-width: 220px;
}

.steps-block {
    margin: 40px 0 0 0;
    text-align: left;
    direction: ltr;
    font-size: 16px;
    line-height: 1.3;
}

.ar-lang .steps-block h3 {
    text-align: right;
}

.steps-block a{
    display: inline-block;
    position: relative;
}

.step-box-btn {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #d80f0f;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px 7px 15px;
    line-height: 24px;
    white-space: nowrap;
    display: inline-block;
    top: 100px;
    border-radius: 20px;
}

.step-box-btn i {
    margin: 0 5px 0 0;
    display: inline-block;
}

.earnings {
    padding: 0 0 40px 0;
    margin: -40px 0 0 0;
}

.earnings h2{
    font-weight: 600;
    color: #2a2b2c;
    font-size: 16px;
    margin: 15px 0 10px 0;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
}

.earnings a {
    text-decoration: underline;
    color: #000000;
}

.earnings a:hover{
    text-decoration: none;
}

.earnings p {
    margin: 0 0 15px 0;
}

.earnings ul {
    padding: 0 0 0 20px;
}

.earnings ul li {
    position: relative;
    padding: 0 0 0 25px;
    margin: 0 0 15px 0;
}

.earnings ul i{
    position: absolute;
    color: #2fbb14;
    left: 0;
    top: 3px;
}

.medals{
    display: block;
    margin: 0 -5px 40px -5px;
}

.medals:before, .medals:after {
    content: '';
    display: table;
}

.medals:after {
    clear: both;
}

.medals li {
    float: left;
    padding: 0 5px;
    width: 20%;
    text-align: center;
    margin: 0 0 10px 0;
}

.medals li div{
    display: table;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.05);
}

.medals li span{
    display: table-cell;
    width: 100%;
    height: 160px;
    vertical-align: middle;
    padding: 15px;
}

.medals li img{
    max-width: 100%;
    max-height: 130px;
}

.title-new-h3{
    font-size: 16px;
    text-transform: uppercase;
    color: #2a2b2c;
    font-weight: 600;
    margin: 15px 0;
    padding: 0 0 0 30px;
    position: relative;
    line-height: 20px;
}

.ar-lang .title-new-h3 {
    padding: 0 30px 0 0;
}

.title-new-h3 span{
    color: #2fbb14;
}

.title-new-h3 i{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: -12px 0 0 0;
    position: absolute;
    left: 0;
    top: 50%;
}

.ar-lang .title-new-h3 i {
    left: auto;
    right: 0;
}

.log-in-marketing-block-1, .log-in-marketing-block-2 {
    width: 50%;
}

.log-in-marketing-block-1 .mac-iframe {
    width: 550px;
    height: 460px;
    padding: 20px 22px 155px 22px;
}

.log-in-marketing-block-2 .how-toget {
    font-size: 18px;
    padding: 15px 0 15px 40px;
    line-height: 24px;
}

.log-in-marketing-block-2 .how-toget i {
    left: 11px;
    font-size: 18px;
    top: 18px;
}

/*----------------------------------------main page styles end--------------------------------------*/

/*----------------------------------------response start--------------------------------------*/

@media (max-width: 1400px) {

    .video-block .carousel-control {
        left: 80px;
    }

    .video-block .carousel-control.right {
        left: auto;
        right: 80px;
    }

}

@media (max-width: 1200px) {

    .video-block .carousel-control {
        left: 30px;
    }

    .video-block .carousel-control.right {
        left: auto;
        right: 30px;
    }

    .video-block .carousel .item .container {
        padding: 0 80px;
    }

    .video-block .title {
        font-size: 42px;
    }

    .video-block .title strong {
        font-size: 26px;
    }

    .btn-app {
        width: 160px;
        height: 50px;
    }

    .mac-iframe {
        width: 290px;
        height: 243px;
        padding: 11px 11px 82px 11px;
    }

    .log-in-marketing-block-1 .mac-iframe {
        width: 450px;
        height: 380px;
        padding: 18px 18px 128px 18px;
    }

    .steps-block .steps-fa {
        right: 0;
        top: 60px;
        font-size: 46px;
    }

    .traders-gain-main td, .traders-gain-main th {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .traders-gain-main .btn {
        margin: 14px 0;
    }

}

@media (max-width: 992px) {

    .video-block .carousel-control {
        left: 15px;
    }

    .video-block .carousel-control.right {
        left: auto;
        right: 15px;
    }

    .video-block .carousel .item .container {
        padding: 0 60px;
    }

    .main-title h1 {
        margin: 80px 0 0 0;
        font-size: 18px;
    }

    .video-block .carousel {
        margin: -100px 0 -90px 0;
    }

    .video-block .carousel .item {
        padding: 100px 0 90px 0;
        height: 540px;
    }

    .video-block .carousel-caption {
        height: 350px;
    }

    .video-block .title {
        font-size: 32px;
    }

    .video-block .title strong {
        font-size: 22px;
    }

    .main-icon {
        font-size: 14px;
        line-height: 14px;
    }

    .main-icon li {
        padding: 10px;
        height: 90px;
    }

    .main-icon li div {
        left: 5px;
        width: 40px;
        height: 40px;
    }

    .ar-lang .main-icon li div {
        left: auto;
        right: 5px;
    }

    .main-icon li p {
        padding: 0 0 0 45px;
    }

    .ar-lang .main-icon li p {
        padding: 0 45px 0 0;
    }

    .mac-iframe, .log-in-marketing-block-1 .mac-iframe {
        width: 345px;
        height: 290px;
        padding: 13px 13px 98px 13px;
    }

    .log-in-marketing-block-2 .how-toget {
        font-size: 16px;
        padding: 12px 0 12px 40px;
        line-height: 18px;
    }

    .log-in-marketing-block-2 .how-toget i {
        left: 14px;
        font-size: 14px;
        top: 15px;
    }

    .traders-income-form{
        margin: 40px 0 0 0;
    }

    .steps-block a img{
        width: 131px;
    }
    .steps-block .steps-fa {
        top: 42px;
    }

    .step-box-btn {
        font-size: 14px;
        line-height: 20px;
        top: 80px;
    }

    .medals li img {
        width: 100%;
    }
    .cfd-title-text{
        text-align: center;
        margin-bottom: 60px;
    }
    .main-title h1.h1-cfd{
        text-align: center;
    }
    .cfd-title-text p{
        margin: 30px auto 0;
    }
    .main-cfd-block .traders-income-form{
        margin-top: 0;
    }


}

@media (max-width: 768px) {

    .video-block .carousel {
        margin: -100px 0 -180px 0;
    }

    .video-block .carousel .item {
        padding: 100px 0 180px 0;
        height: 600px;
    }

    .video-block .carousel-caption {
        height: 320px;
    }

    .video-block .title {
        font-size: 26px;
    }

    .video-block .title strong {
        font-size: 18px;
    }

    .video-block .carousel-caption p {
        margin: 30px 0 0 0;
        font-size: 16px;
    }

    .video-block .carousel-control {
        width: 36px;
        height: 36px;
        font-size: 28px;
        line-height: 36px;
    }

    .video-block .carousel-control {
        left: 10px;
    }

    .video-block .carousel-control.right {
        left: auto;
        right: 10px;
    }

    .video-block .title span {
        background: #ff0000;
        padding: 0 10px;
    }

    .btn-app {
        width: 130px;
        height: 40px;
        border-radius: 4px;
        margin: 0 5px;
    }

    .main-icon {
        font-size: 16px;
        line-height: 16px;
    }

    .main-icon-container {
        padding: 0;
    }

    .main-icon li {
        width: 33.333333333%;
    }

    .main-icon li:nth-of-type(4){
        margin: 0 0 0 16.66666666%;
    }

    .marketing {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .log-in-marketing-block-1, .log-in-marketing-block-2 {
        width: 100%;
    }

    .mac-iframe, .log-in-marketing-block-1 .mac-iframe {
        width: 400px;
        height: 337px;
        padding: 14px 14px 114px 14px;
    }

    .traders-income-form {
        margin: 20px 0 0 0;
    }

    .actives-box {
        margin: 0 0 20px 0;
    }

    .actives-box img {
        max-width: 400px;
    }

    .steps-block a img {
        width: auto;
    }

    .steps-block {
        margin: 20px 0 0 0;
        text-align: center;
    }

    .steps-block .title-new-h3 {
        text-align: left;
    }

    .steps-block .steps-fa {
        display: none;
    }

    .steps-block p {
        margin: 10px 0 35px 0;
        max-width: none;
    }

    .steps-block img {
        margin: 0 -30px 0 0;
    }

    .steps-block a img, .steps-block h3 img {
        margin: 0;
    }

    .steps-block .wow:last-of-type img {
        margin: 0 -5px 0 0;
    }

    .earnings ul {
        padding: 0 0 0 5px;
    }

    .medals li span {
        height: 160px;
    }

    .medals li img {
        width: auto;
    }

    .title-new-h3 {
        font-size: 14px;
        padding: 0 0 0 25px;
        line-height: 18px;
    }

    .title-new-h3 i {
        width: 20px;
        height: 20px;
        margin: -11px 0 0;
    }

    .traders-income-form .title-new-h3 {
        padding: 0 0 12px 40px;
    }

    .medals li {
        width: 33.333333%;
    }
    .advantages__item {
        margin: 0 auto 50px;
        text-align: center;
    }


}

@media (max-width: 480px) {

    .video-block .btn {
        white-space: normal;
        line-height: 1.2;
        padding: 10px 15px;
        font-size: 14px;
    }

    .ru-lang .video-block .btn-bitcoin i {
        display: none;
    }

    .video-block .carousel {
        margin: -120px 0 -180px 0;
    }

    .video-block .carousel .item {
        padding: 120px 0 180px 0;
        height: 620px;
    }

    .main-title h1 {
        font-size: 16px;
    }

    .btn-app {
        width: 103px;
        height: 32px;
        margin: 0 2px;
    }

    .main-icon li {
        width: 50%;
        height: 60px;
    }

    .main-icon li:last-of-type {
        margin: 0 0 0 25%;
    }

    .main-icon li:nth-of-type(4) {
        margin: 0;
    }

    .main-icon li p {
        height: 40px;
    }

    .main-icon li div {
        top: 10px;
    }

    .mac-iframe, .log-in-marketing-block-1 .mac-iframe {
        width: 270px;
        height: 227px;
        padding: 10px 10px 77px 10px;
    }

    .traders-income-form .half {
        width: 100%;
    }

    .traders-income-form .radio-block .half {
        width: 50%;
    }

    .traders-gain-main .date{
        display: none;
    }

    .ar-lang .traders-gain-main .td-name {
        padding-right: 15px;
    }

    .medals li {
        width: 50%;
    }
    .main-cfd-block .cfd-title{
        font-size: 48.7px;
    }

    .cfd-title-text span{
        font-size: 38px;
    }
    .cfd-title-text p{
        font-size: 16px;
    }



}

@media (max-width: 380px) {

    .video-block .title {
        font-size: 20px;
    }

    .video-block .title strong {
        font-size: 16px;
    }

    .video-block .carousel {
        margin: -120px 0 -250px 0;
    }

    .video-block .carousel .item {
        padding: 120px 0 250px 0;
        height: 720px;
    }

    .video-block .carousel-caption {
        height: 350px;
    }

    .video-block .carousel-control {
        margin: -100px 0 0 0;
    }

    .main-icon li {
        width: 100% !important;
        margin: 0 !important;
        height: 50px;
        padding: 10px 20px;
    }

    .main-icon li div {
        top: 5px;
        left: 15px;
    }

    .main-icon li p {
        height: 30px;
    }

    .traders-gain-main .td-flag {
        display: none;
    }

    .main-cfd-block .cfd-title {
        font-size: 38.7px;
    }
    .cfd-title-text span {
        font-size: 28px;
    }

}

/*----------------------------------------response end--------------------------------------*/