/*----------------------------------------education styles start--------------------------------------*/

.news-short {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.05);
    margin: 0 0 30px 0;
    padding: 25px 25px 20px 25px;
}
.news-short-img {
    width: 130px;
    float: left;
    margin: 0 20px 5px 0;
    height: 100px;
    overflow: hidden;
}

.ar-lang .news-short-img {
    float: right;
    margin: 0 0 5px 20px;
}

.news-short-img img {
    width: 100%;
}

.news-short h3 a {
    text-decoration: none !important;
}

.news-short h3 a:hover {
    text-decoration: underline !important;
}

.news-short h3 {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    max-height: 83px;
    overflow: hidden;
}

.news-short p {
    margin: 0 !important;
    height: 120px;
    overflow: hidden;
}

.news-hr {
    margin: 15px 0 0 0;
}

.news-short time {
    display: inline-block;
    margin: 15px 0 0 0;
    font-size: 12px;
    color: #a7abb1;
}

.news-short .btn-arrow {
    margin: 15px 0 0 0;
    display: inline-block;
}

.strategy-full h2, .strategy-full h3, .strategy-full h4 {
    text-transform: uppercase;
    color: #2a2b2c;
    font-size: 20px;
    line-height: 24px;
    margin: 20px 0 0 0;
    font-weight: 600;
}

.faq {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.05);
    margin: 0 0 30px 0;
    padding: 25px;
    font-size: 16px !important;
    line-height: 20px !important;
    transition: 0.5s;
}

.faq:hover {
    background: transparent;
    box-shadow: none;
}

.faq p{
    padding: 0 0 0 25px;
    position: relative;
}

.ar-lang .faq p {
    padding: 0 25px 0 0;
}

.faq p:first-of-type {
    font-size: 24px !important;
    line-height: 28px !important;
    color: #2a2b2c;
    font-weight: 500;
}

.faq p:first-of-type:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background: url(../images/faq-question.png) no-repeat center;
    background-size: contain;
    left: 0;
    top: 5px;
}

.faq p:nth-of-type(2):before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background: url(../images/faq-attention.png) no-repeat center;
    background-size: contain;
    left: 0;
    top: 0;
}

.ar-lang .faq p:first-of-type:before, .ar-lang .faq p:nth-of-type(2):before {
    left: auto;
    right: 0;
}

.faq p:last-of-type {
    margin-bottom: 0 !important;
}

.faq li {
    padding: 10px 0 0 25px;
    list-style-type: disc;
    list-style-position: inside;
}

/*----------------------------------------education styles end--------------------------------------*/

/*----------------------------------------response start--------------------------------------*/

@media (max-width: 1200px) {

    .news-short-img {
        width: 150px;
        margin: 0 20px 15px 0;
        height: auto;
    }

    .ar-lang .news-short-img {
        margin: 0 0 15px 20px;
    }

    .news-short h3 {
        margin: 0 0 15px 0;
        max-height: none;
    }

    .news-short p {
        height: auto;
    }

}

@media (max-width: 992px) {

    .strategy-full h2, .strategy-full h3, .strategy-full h4 {
        font-size: 18px;
        line-height: 22px;
    }

}

@media (max-width: 480px) {

    .news-short {
        margin: 0 0 20px 0;
        padding: 15px;
    }

    .news-short-img {
        margin: 0 10px 15px 0;
    }

    .ar-lang .news-short-img {
        margin: 0 0 15px 10px;
    }

    .news-short h3 {
        font-size: 14px;
        line-height: 16px;
    }

    .news-short .btn-arrow {
        margin: 12px 0 0 0;
    }

    .strategy-full h2, .strategy-full h3, .strategy-full h4 {
        font-size: 16px;
        line-height: 20px;
    }

    .faq {
        font-size: 14px !important;
        line-height: 18px !important;
        padding: 20px;
    }

    .faq p:first-of-type {
        font-size: 20px !important;
        line-height: 22px !important;
    }

    .faq p:first-of-type:before {
        top: 2px;
    }

}

@media (max-width: 380px) {

    .news-short-img, .ar-lang .news-short-img {
        width: 100%;
        margin: 0 0 15px 0;
    }

    .news-short h3 {
        display: inline-block;
        margin: 0 0 5px 0;
    }

}

/*----------------------------------------response end--------------------------------------*/